<html>
  <head>
    <!--
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
      body {
        color: #333;
        font-family: "Helvetica Neue", Helvetica;
        font-size: 16px;
        margin: 0;
      }
      #main-head {
        background: #F3F3F3;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px;
      }
      #main-head h1 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;

      }
      .main {
        margin: 0 auto;
        width: 960px;
      }
      #main-content {
        background: #ffffff;
      }
      #main-content form {
        margin: 20px 0;
      }
      
      #main-content form input[type=text] {
        font-size: 3.0em;
        width: 550px;
      }
      #main-content form button {
        font-size: 3.0em;
        width: 100px;
        border: 1px solid #eee;
        background: #fff;
        padding: 0;
        height: 63px;
        color: #a9a9a9;
      }
      #main-content form button:hover {
        color: inherit;
      }

      #lead {
        background: #fcfcfc;
        border-bottom: 1px solid #e5e5e5;
        font-size: 0.9em;
        padding: 10px 0;
      }
      #lead aside {
        float: right;
        background: #ffffff;
        border: 1px solid #dddddd;
        height: 300px;
        padding: 5px;
        width: 200px;
      }
      #lead aside p {
        margin-top: 0;
      }

      #results {
        width: 720px;
      }

      #results h3 {
        margin-bottom: 0;
      }

      #results #health_result {
        font-size: 2.0em;
      }
      #health_result.great {
        color: green;
      }

      #details a.current {
        font-weight: bold;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header id="main-head">
      <section class="main">
        <h1>Repo Health</h1>
      </section>
    </header>
    <section id="main-content">
      <section id="lead">
        <section class="main">
          <aside>
            <p>
              Download the Chrome Extenstion
            </p>
            <p>
              Add a Repo Health badge to your README
            </p>
            <hr/>
            <p>Recently Searched</p>
            list here
          </aside>
          <p>
            repo health helps you quickly understand the state of any repository hosted on GitHub.
            Use the form below, or use the chrome extension to view repo health anytime you are looking at a repo. If you are responsible for an open source project, you can include the repo health badge in your readme.
          </p>
          <p>
            Everything you find here is Open Source, is available on GitHub, and currently has a repo health of: TK
          </p>
          <p>
            <a href="#" id="learn-more">
              Learn more about the Repo Health project
            </a>  
          </p>
          <section id="project-more" style="display: none;">
            <p>
              Details about the project
            </p>
            <a href="#" id="learn-less">
              Learn less about the Repo Health project
            </a>
          </section>
        </section>
      </section>
      <section class="main">
        <form action="#">
          <input id="repo" type="text" placeholder="owner/repo-name"/>
          
          <!-- <input type="submit" value="Search" /> -->
          <button><i class="fa fa-search"></i></button>
        </form>

        <section id="results">
          <hr/>
          <h3>Overall Health for <span id="search-repo-label">fake/fake</span></h3>
          <div id="health_result" class="Great">Great</div>
          <div id="history">
            <h3>Health History</h3>
            chart thing
          </div>
          <div id="details">
            <h3>Current Health Details</h3>
            <a href="#" id="last_7_link" class="current">Last 7 Days</a>
            &nbsp;|&nbsp;
            <a href="#" id="last_30_link">Last 30 Days</a>
            <dl id="last_7_stats">
              <dt>New Watchers</dt>
              <dd>7</dd>
              <dt>New Forks</dt>
              <dd>14</dd>
              <dt>New Issues / Issue Comments</dt>
              <dd>21</dd>
              <dt>New Pull Requests / Pull Request Comments</dt>
              <dd>31</dd>
              <dt>New Pushes</dt>
              <dd>41</dd>
            </dl>
            <dl id="last_30_stats" style="display:none;">
              <dt>New Watchers</dt>
              <dd>2</dd>
              <dt>New Forks</dt>
              <dd>4</dd>
              <dt>New Issues / Issue Comments</dt>
              <dd>6</dd>
              <dt>New Pull Requests / Pull Request Comments</dt>
              <dd>8</dd>
              <dt>New Pushes</dt>
              <dd>10</dd>
            </dl>
          </div>
          <div id="predictions">
            <h3>Predictions</h3>
            <dl>
              <dt>37% percent chance</dt>
              <dd>Repo is still in "Good" standing in 6 months (better than average)</dd>
              <dt>21% percent chance</dt>
              <dd>Repo degrades to "sad" 6 months</dd>
              <dt>12% percent chance</dt>
              <dd>Repo moves up to "great" in the next 6 months</dd>
            </dl>
            <small>Predictions are made based on....something...</small>
          </div>
        </section>
      </section>
    </section>
  </body>

  <script type="text/javascript">
    function fetchHealth() {
      // Do some validation
      var repo = $('#repo').val();

      // Do some spinner stuff

      // Request health
      $.ajax("/" + repo + "/health", {
        dataType: "json",
        success: function(data) {
          console.log(data);
          $('#health_result').html(data["overall_health"]);
          $('#health_result').removeClass();
          $('#health_result').addClass(data["overall_health"]);
          $('#search-repo-label').html(repo);

          // Probably need to handlebar this 
          $('#last_7_stats dd:nth-of-type(1)').html(data["last_7"]["watch_counts"]);
          $('#last_7_stats dd:nth-of-type(2)').html(data["last_7"]["fork_counts"]);
          $('#last_7_stats dd:nth-of-type(3)').html(data["last_7"]["issue_counts"]);
          $('#last_7_stats dd:nth-of-type(4)').html(data["last_7"]["pr_counts"]);
          $('#last_7_stats dd:nth-of-type(5)').html(data["last_7"]["push_counts"]);

          $('#last_30_stats dd:nth-of-type(1)').html(data["last_30"]["watch_counts"]);
          $('#last_30_stats dd:nth-of-type(2)').html(data["last_30"]["fork_counts"]);
          $('#last_30_stats dd:nth-of-type(3)').html(data["last_30"]["issue_counts"]);
          $('#last_30_stats dd:nth-of-type(4)').html(data["last_30"]["pr_counts"]);
          $('#last_30_stats dd:nth-of-type(5)').html(data["last_30"]["push_counts"]);


          $('#results').show();

          // Update url!
        }
      });
    }

    $(function(){
      $('form').submit(function(e) {
        e.preventDefault();

        fetchHealth();
      });
      $('button').click(function(e) {
        e.preventDefault();

        fetchHealth();
      });

      $('#learn-more').click(function(e) {
        e.preventDefault();
        $('#learn-more').hide();
        $('#project-more').show();
      });

      $('#learn-less').click(function(e) {
        e.preventDefault();
        $('#project-more').hide();
        $('#learn-more').show();
      });

      $('#last_7_link').click(function(e) {
        e.preventDefault();

        $('#last_30_link').removeClass('current');
        $('#last_7_link').addClass('current');
        $('#last_30_stats').hide();
        $('#last_7_stats').show();
      });

      $('#last_30_link').click(function(e) {
        e.preventDefault();

        $('#last_7_link').removeClass('current');
        $('#last_30_link').addClass('current');
        $('#last_7_stats').hide();
        $('#last_30_stats').show();
      });
    });
  </script>
</html>
